[user]
  name = Yuya Matsumura
  email = mattu.yuya@gmail.com
[color]
  ui = auto
[alias]
  co = checkout
  st = status
  cm = commit
  di = diff
  br = branch
  ls = ls-files
[core]
  editor = /usr/local/bin/vim
[github]
  user = ymattu
